body {
    color:rgb(255, 255, 255);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:0;
    animation-fill-mode: forwards;
    user-select:none;
    background-color: black;
}
html {
    cursor:none;
    -webkit-user-drag: none;
    scrollbar-width: none;
}
html::-webkit-scrollbar {
    display:none;
}
#background {
    height:100vh;
    width:100vw;
    position:fixed;
    top:0%;
    filter:brightness(0.34);
    left:0%;
    transform: translate(-50% -50%);
    transform-origin: top left;
    z-index: -100;
    background-image: url(images/dirt.webp);
    background-repeat: repeat;
    background-size: auto;
    animation: backgroundScroll 20s linear infinite
}
.arrow {
    padding:5px;
    border:4px solid white;
    background-color: black;
}
.arrow:hover {
    background-color: rgb(10, 10, 10);
}
#bountyback {
    font-size:30px;
}
#bountynext {
    font-size:30px;
}
#shopbackground {
    height:100vh;
    width:100vw;
    position:fixed;
    top:0%;
    filter:brightness(0.34);
    left:0%;
    transform: translate(-50% -50%);
    transform-origin: top left;
    z-index: -100;
    background-color:bisque;
    display:none;
}
@keyframes backgroundScroll {
    from {
        background-position: 0 0;
    } to {
        background-position: 160px 1600px;
    }
}
#pagetitle {
    font-size:60px;
    margin-top: 10px;
    display:flex;
    border:4px solid brown;
    padding:8px;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    width:500px;
    padding-top:none;
    border-radius: 5px;
    background-color: rgb(99, 28, 28);
    text-decoration: underline wavy;
}

#startbutton {
    display:flex;
    font-size:40px;
    align-items: center;
    justify-content: center;
    margin-top:100px;
    padding:10px;
    border:8px solid rgb(134, 45, 45);
    background-color: rgb(100, 22, 22);
    width:200px;
    justify-self: center;
    transition:transform 300ms ease;
}
#startbutton:hover {
    transform:scale(1.2);
}

#endlessbutton {
    display:flex;
    font-size:40px;
    align-items: center;
    justify-content: center;
    margin-top:100px;
    padding:10px;
    border:8px solid rgb(134, 45, 45);
    background-color: rgb(100, 22, 22);
    width:200px;
    justify-self: center;
    transition:transform 300ms ease;
}
#endlessbutton:hover {
    transform:scale(1.2);
}

#tutorial {
    display:flex;
    font-size:40px;
    align-items: center;
    justify-content: center;
    margin-top:30px;
    padding:10px;
    border:8px solid rgb(134, 45, 45);
    background-color: rgb(100, 22, 22);
    width:200px;
    justify-self: center;
    transition:transform 300ms ease;
}
#tutorial:hover {
    transform:scale(1.2);
}
#shop {
    display:flex;
    font-size:40px;
    align-items: center;
    justify-content: center;
    margin-top:30px;
    padding:10px;
    border:8px solid rgb(134, 45, 45);
    background-color: rgb(100, 22, 22);
    width:250px;
    justify-self: center;
    transition:transform 300ms ease;
}
#shop:hover {
    transform:scale(1.2);
}
#achievements {
    display:flex;
    font-size:40px;
    align-items: center;
    justify-content: center;
    margin-top:30px;
    padding:10px;
    border:8px solid rgb(134, 45, 45);
    background-color: rgb(100, 22, 22);
    width:250px;
    justify-self: center;
    transition:transform 300ms ease;
}
#achievements:hover {
    transform:scale(1.2);
}

#achievementpopup {
    width:500px;
    pointer-events: none;
    padding:10px;
    background-color: rgb(114, 17, 17);
    display:flex;
    margin-bottom:10px;
    flex-direction: row;
    margin-left:10px;
    border:4px solid white;
    transform:translateX(-600px);
}
@keyframes poppingup {
    from {
        transform:translateX(-600px)
    } to {
        transform:translateX(0)
    }
}
@keyframes popupaway {
    from {
        transform:translateX(0px)
    } to {
        transform:translateX(-600px)
    }
}
#achievementpopup img {
    border:4px solid white;
}
#achievementpopupwrap {
    position:fixed;
    bottom:0%;
    left:0%;
    pointer-events: none;
}
#achievementback {
    height:20px;
    width:560px;
    padding:4px;
    display:flex;
    justify-content: center;
    align-items: center;
    border:4px solid white;
    background-color:rgb(114, 17, 17);
    margin-top: 4px;
}

#achievementbox {
    display:flex;
    overflow-y:scroll;
    width:600px;
    height:800px;
    border:4px solid white;
    align-items: center;
    justify-content: flex-start;
    background-color: brown;
    flex-direction: column;
}
#achievementtitle {
    width:300px;
    margin-top:10px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:50px;
    height:50px;
    padding:10px;
    border:4px solid white;
    background-color:rgb(114, 17, 17);

}
.achievement {
    width:500px;
    padding:10px;
    background-color: rgb(114, 17, 17);
    display:flex;
    margin-top:5px;
    margin-bottom:5px;
    flex-direction: row;
    border:4px solid white;
}
#achievementboxes {
    margin-top:20px;
    display:flex;
    flex-direction: column;
}
.achievement img {
    border:4px solid white;
}
.achievementtext {
    display:flex;
    flex-direction: column;
    margin-left:10px;
}
.achsubtitle {
    font-size:18px;
    color:rgb(206, 206, 206);
}
.achtitle {
    font-size:30px;
    color:white;
}
#achievementstat {
    width:100px;
    height:20px;
    z-index:2;
    font-size:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    padding:10px;
    border:4px solid white;
    border-top:none;
    margin-top:-4px;
    background-color:rgb(114, 17, 17);
}
#achievementwrap {
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    position:fixed;
    display:none;
}

#difficulty {
    display:flex;
    font-size:25px;
    align-items: center;
    justify-content: center;
    margin-top:30px;
    padding:10px;
    border:8px solid rgb(134, 45, 45);
    background-color: rgb(100, 22, 22);
    width:300px;
    justify-self: center;
    transition:transform 300ms ease;
}
#difficulty:hover {
    transform:scale(1.2);
}
#settings {
    display:flex;
    font-size:25px;
    align-items: center;
    justify-content: center;
    margin-top:30px;
    flex-direction: column;
    padding:10px;
    border:8px solid rgb(134, 45, 45);
    background-color: rgb(100, 22, 22);
    width:500px;
    justify-self: center;
    transition:transform 300ms ease;
}
#settingsbutton:hover {
    transform:scale(1.2);
}

#settingsbutton {
    padding:10px;
    border:8px solid rgb(134, 45, 45);
    background-color: rgb(80, 18, 18);
    width:300px;
    justify-content: center;
    align-items: center;
    display:flex;
    transition:transform 300ms ease;
}

#settingsmenu {
    display:none;
    flex-direction: column;
    border:8px solid rgb(134, 45, 45);
    background-color: rgb(80, 18, 18);
    width:400px;
    gap:10px;
    margin-top:10px;
}

.settingwrap {
    display:flex;
    flex-direction: row;
    gap:10px;
    justify-content: center;
    align-items: center;
}

.setting {
    display:flex;
    justify-content: center;
    align-items: center;
    border:4px solid white;
    background-color: green;
    font-size:20px;
    padding:8px;
    width:30px;
}

#epilepsywrap {
    display:none;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    align-items: center;
    justify-content: center;
}

#epilepsy {
    display:flex;
    align-items: center;
    justify-content: center;
    padding:10px;
    border:8px solid rgb(134, 45, 45);
    background-color: rgb(100, 22, 22);
    width:850px;
    flex-direction: column;
}
#epilepsywarning {
    font-size:30px;
    text-align: center;
}
#epilepsyoptions {
    display:flex;
    flex-direction: row;
    gap:10px;
}
.button {
    margin-top:10px;
    border:4px solid brown;
    padding:10px;
    font-size:20px;
    background-color: rgb(80, 18, 18);
    transition:transform ease 300ms;
}
.button:hover {
    transform:scale(1.1)
}

#shader {
    display:none;
    opacity:0.5;
    background-color: black;
    height:100vh;
    width:100vw;
    position:fixed;
    top:50%;
    left:50%;
    pointer-events: none;
    transform:translate(-50%, -50%);
    z-index:1001;
}
@keyframes shaderFade {
    from {
        opacity:0.5;
    } to {
        opacity:0;
    }
}

@keyframes shake {
    0%   {transform: translate(0, 0);}
    10%  {transform: translate(-1px, 1px);}
    20%  {transform: translate(0px, 2px);}
    30%  {transform: translate(1px, 1px);}
    40%  {transform: translate(2px, 0px);}
    50%  {transform: translate(1px, -1px);}
    60%  {transform: translate(0px, -2px);}
    70%  {transform: translate(-1px, -1px);}
    80%  {transform: translate(-2px, -2px);}
    90%  {transform: translate(-1px, -1px);}
    100% {transform: translate(0, 0);}
}

.flashing {
    animation:indicateFlash 1s steps(1) infinite;
}

@keyframes indicateFlash {
    0% {filter:brightness(1)}
    50% {filter:brightness(1.2)}
}

@keyframes wipeleft {
    to {
        transform:scaleX(2) translateX(-1000px)
    }
}
@keyframes slideleft {
    from {
        transform:scaleX(2) translateX(1000px)
    }
    to {
        transform:scaleX(1) translateX(0px)
    }
}

@keyframes debugflicker {
    0% {border:10px solid rgb(0, 238, 255); width:7px; height:7px}
    100% {border: 4px solid white; width:20px; height:20px;}
}

.molespawn {
    width:200px;
    height:200px;
    background-color: rgb(102, 74, 37);
    border:4px solid white;
    object-fit:contain;
    background-size:contain;
    justify-content: center;
    align-items: center;
    display:flex;
}
.molespawn img {
    transition: transform ease 2s, opacity ease 1s;
    
}
#molecontainer {
    padding:10px;
    width:fit-content;
    border:4px solid white;
    background-color:rgb(66, 47, 18);
    display:flex;
    position:absolute;
    transform-origin: top left;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    display:none;
}
#molegrid {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
}
.moleimg {
    opacity:0;
    width:150px;
    transition:opacity 200ms ease;
}


.tmolespawn {
    width:200px;
    height:200px;
    background-color: rgb(102, 74, 37);
    border:4px solid white;
    object-fit:contain;
    background-size:contain;
    justify-content: center;
    align-items: center;
    display:flex;
}
.tmolespawn img {
    transition: transform ease 2s, opacity ease 1s;
}
#tutorialmolecontainer {
    padding:10px;
    width:fit-content;
    border:4px solid white;
    background-color:rgb(66, 47, 18);
    display:flex;
    position:absolute;
    transform-origin: top left;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    display:none;
}
#tutorialmolegrid {
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    gap:10px;
}
.tmoleimg {
    width:150px;
    transition:opacity 200ms ease, scale 400ms ease;
}
@keyframes fadein {
    from {
        opacity:0;
        filter:blur(25px)
    } to {
        opacity:1;
        filter:blur(0px);
    }
}

@keyframes fadeout {
    from {
        opacity:1;
        filter:blur(0px)
    } to {
        opacity:0;
        filter:blur(25px);
    }
}

@keyframes wigglex {
    0% {
        transform:translateX(0px)
    }
    25% {
        transform:translateX(-10px)
    }
    50% {
        transform:translateX(0px)
    }
    75% {
        transform:translateX(10px)
    }
    100% {
        transform:translateX(0px)
    }
}
@keyframes wiggley {
    0% {
        transform:translateY(0px)
    }
    25% {
        transform:translateY(-10px)
    }
    50% {
        transform:translateY(0px)
    }
    75% {
        transform:translateY(10px)
    }
    100% {
        transform:translateY(0px)
    }
}
#cursor {
    pointer-events: none;
    position:fixed;
    transform:translate(-50%, -50%) rotate(50deg);
    z-index:2000;
}

#tutorialbox {
    position:fixed;
    z-index:999;
    display:none;
    border:4px solid white;
    border-radius:5px;
    width:400px;
    height:200px;
    flex-direction: row;
    top:38.5%;
    margin-left:30px;
    transform:translate(-50%, -50%);
    justify-content: center;
    background-color: rgb(82, 60, 28);
    align-items: center;
}

#tutorialtextbox {
    font-size:20px;
    background-color: rgb(51, 38, 18);
    text-align: left;
    padding:10px;
    border:4px solid white;
    margin-left:20px;
    margin-right:20px;
    width:max-content
}

#tutorialtextbox span {
    opacity:0;
}
#tutorialtextbox span.visible {
    opacity:1;
}
#shoptextbox span {
    opacity:0;
}
#shoptextbox span.visible {
    opacity:1;
}

#startbuttonwrap {
    display:flex;
    flex-direction: row;
    gap:30px;
    justify-content: center;
    align-items: center;
}
#othermenuwrap {
    display:flex;
    flex-direction: row;
    gap:30px;
    justify-content: center;
    align-items: center;
}

#continuebutton {
    display:flex;
    justify-content: center;
    align-self: center;
    margin-right:20px;
    border:4px solid white;
    margin-bottom:20px;
    font-size:25px;
    border-radius:5px;
    padding:7px;
    transition:transform 300ms ease;
    background-color: rgb(51, 38, 18);
}

#continuebutton:hover {
    transform:scale(1.1);
}
#continuebutton:active {
    background-color: rgb(29, 21, 10);
}

#cursorhb {
    pointer-events: none;
    position:fixed;
    z-index:2000;
    width:20px;
    height:20px;
    transform:translate(-50%, -50%);

    border:4px solid white;
}

#flashbang {
    background-color: black;
    z-index: 5000;
    position:fixed;
    top:50%;
    left:50%;
    width:100vw;
    height:100vh;
    transform: translate(-50%, -50%);
    display:none;
    opacity:0.5;
    transition: opacity 1s ease;
    pointer-events: none
}
#girlfilter {
    background-color: rgb(223, 81, 140);
    z-index: 4999;
    position:fixed;
    top:50%;
    left:50%;
    width:100vw;
    height:100vh;
    transform: translate(-50%, -50%);
    display:none;
    opacity:0.1;
    animation:girlington 5s linear infinite;
    pointer-events: none;
}
@keyframes girlington {
    0% {background-color: rgb(226, 34, 114)}
    50% {background-color: rgb(147, 12, 224)}
    100% {background-color: rgb(226, 34, 114)}
}

.achstat {
    border:4px solid white;
    padding:4px;
    position:absolute;
    right:4px;
    bottom:4px;
    z-index:5;
}


@keyframes hitMeerkat {
    0% {transform:scale(1)}
    5% {transform:scale(0.7)}
    100% {transform:scale(1)}
}

@keyframes flashbang {
    0% {
        display:inline;
        opacity:1;
    }
    50% {
        display:inline;
        opacity:1;
    }
    99% {
        display:inline;
        opacity:0;
    }
    100% {
        display:none;
        opacity:0;
    }
}

#scorewrap {
    display:none;
    justify-content: center;
    align-items: center;
}
#score {
    padding:10px;
    border:4px solid white;
    background-color: blue;
    border-radius:5px;
    font-size:50px;
}
#timerwrap {
    display:none;
    justify-content: center;
    align-items: center;
}
#timer {
    padding:10px;
    border:4px solid white;
    background-color: rgb(44, 44, 143);
    border-radius:5px;
    font-size:50px;
}

#cashwrap {
    display:none;
    justify-content: center;
    align-items: center;
}
#cash {
    padding:10px;
    border:4px solid white;
    background-color: rgb(143, 44, 113);
    border-radius:5px;
    font-size:50px;
}
#evilbutton {
    border-top:4px solid white;
    border-right:4px solid white;
    position:fixed;
    justify-content: center;
    bottom:0%;
    width:244px;
    text-align: center;
    left:0%;
    padding:10px;
    transform-origin: bottom left;
    transition:transform 300ms ease;
    background-color:rgb(52, 80, 80);
}
#evilbutton:hover {
    transform:scale(1.1);
}
#evilbutton:active {
    background-color:rgb(33, 51, 51);
}

@keyframes epicflash {
    0% {opacity:0}
    25% {opacity:1}
    75% {opacity:1}
    100% {opacity:0}
}


@keyframes scoreBubbleUp {
    from {
        transform:scale(1.2)
    } to {
        transform:scale(1)
    }
}

@keyframes scoreShrinkDown {
    from {
        transform:scale(0.8)
    } to {
        transform:scale(1)
    }
}

@keyframes loseScore {
    from {
        background-color: red;
        transform:scale(0.8)
    } to {
        background-color: blue;
        transform:scale(1)
    }
}
@keyframes estroScore {
    from {
        background-color: rgb(134, 5, 255);
        transform:scale(0.8)
    } to {
        background-color: rgb(255, 255, 255);
        transform:scale(1)
    }
}

#streakwrap {
    display:none;
    justify-content: center;
    align-items: center;
}
#streak {
    padding:10px;
    border:4px solid white;
    background-color: rgb(143, 125, 44);
    border-radius:5px;
    font-size:50px;
}
#guiwrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-left: 10px;
    justify-self:center;
    margin-right: 10px;
}

#guiwrap > * {
    width: 350px;
    text-align: center;
}

#statisticsbox {
    position:fixed;
    top:57%;
    left:50%;
    transform:translate(-50%, -50%);
    width:450px;
    height:600px;
    pointer-events: none;
    background-color: rgb(62, 104, 91);
    border:4px solid white;
    justify-content: center;
    z-index:400;
    border-radius:5px;
    display:none;
    flex-direction: column;
    align-items: center;
}

#statstitle {
    width:370px;
    height:fit-content;
    padding:10px;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top:10px;
    font-size:40px;
    border:4px solid white;
    border-radius:5px;
    background-color: rgb(39, 70, 60);
}
#statsorganizer {
    display:flex;
    width:350px;
    flex-direction: column;
    margin-top:10px;
    padding:10px;
    gap:10px;
    border:4px solid white;
    border-radius:5px;
    background-color: rgb(39, 70, 60);
}
.statistic {
    font-size:30px;
}

#shopkeeper {
    display:none;
    position:fixed;
    top:23%;
    left:50%;
    transform:translate(-50%, -50%)
}
#shopinterface {
    position:fixed;
    top:75%;
    left: 50%;
    transform:translate(-50%, -50%);
    background-color: black;
    width:100vw;
    height:50vh;
    display:none;
    justify-content: space-evenly;
    flex-direction: row;
    border-top:4px solid rgb(44, 44, 44);
}

.goldentext {
    color:goldenrod
}

@font-face {
    font-family: bit;
    src: url(bit.ttf);
}
#shoptextbox {
    font-family: bit;
    margin-left:30px;
    margin-top:10px;
    padding:20px;
    font-size:50px;
    width:700px;
    height:380px;
    border:4px solid white;
}
#shopbuttonbox {
    margin-top:10px;
    height:380px;
    width:380px;
    margin-left:30px;
    padding:20px;
    border:4px solid white;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    font-family: bit;
    gap:30px;
    font-size:50px;
}
.shopbutton {
    border: 4px solid white;
    text-align: center;
    justify-content: center;
    width:300px;
    background-color: rgb(0, 0, 0);
    padding:10px;
    transition:transform 300ms ease;
}
#bountyinterface {
    display:flex;
    flex-direction: column;
}
#bountyinfo {
    display:flex;
    flex-direction: column;
}
.shopbutton:hover {
    background-color: rgb(10, 10, 10);
}
#buystuff {
    display:none;
    flex-direction: column;
}
#bounties {
    display:none;
    flex-direction: column;
}
#bountyboxwrap {
    align-items: center;
    margin-top:20px;
    justify-content: center;
    display:flex;
    gap:20px;
    flex-direction: row;
}
#bountyimg {
    background-color: rgb(54, 7, 19);
    padding:10px;
    display:flex;
    align-items: center;
    justify-self: center;
    border:4px solid white;
    
}
#bountytopbox {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:10px;
    flex-direction: column;
}
#bountyname {
    text-align: center;
    color:rgb(161, 0, 0);
    display:flex;
    align-items: center;
    justify-content: center;
}
#bounty {
    text-align: center;
}
#bountyclaim {
    border: 4px solid white;
    text-align: center;
    justify-content: center;
    width:143px;
    background-color: rgb(0, 0, 0);
    padding:10px;
    margin-top:20px;
    font-size:30px;
    transition:transform 300ms ease;
}
#bountyclaim:hover {
    background-color: rgb(10, 10, 10);
}
#shopgrid {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
    margin-top:30px;
}
#arrowwrap {
    gap:30px;
    display:flex;
    justify-content: center;
    flex-direction: row;
}
#bountyarrowwrap {
    gap:30px;
    display:flex;
    justify-content: center;
    flex-direction: row;
}
#shoptextgoeshere {
    height:310px;
}

.shopitem {
    border:4px solid white;
    padding:10px;
    font-size:30px;
    background-color: black;
    text-align:center;
}
.shopitem:hover {
    background-color: rgb(10, 10, 10);
}

#talking {
    display:none;
    flex-direction: column;
}
#talkgrid {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
    margin-top:30px;
}
#talkarrowwrap {
    gap:30px;
    display:flex;
    justify-content: center;
    flex-direction: row;
}

.topic {
    border:4px solid white;
    padding:10px;
    font-size:30px;
    background-color: black;
    text-align:center;
}
.topic:hover {
    background-color: rgb(10, 10, 10);
}

#buyclose {
    display:flex;
    flex-direction: row;
    gap:10px;
    justify-content: space-evenly;
}
#purchase {
    border:4px solid white;
    padding:10px;
    background-color:black;
}
#yourcash {
    border:4px solid white;
    padding:10px;
    background-color:black;
}
#closepurchase {
    border:4px solid white;
    padding:10px;
    background-color:black;
}
#purchase:hover {
    background-color:rgb(10, 10, 10);
}
#closepurchase:hover {
    background-color:rgb(10, 10, 10);
}

@keyframes swing {
    from {
        transform:rotate(-80deg)
    } to {
        transform:rotate(0deg)
    }
}

.heart {
    image-rendering: crisp-edges;
    width:40px;
    height:40px;
}
#hp {
    display:flex;
    gap:10px;
    margin-right:30px;
    margin-bottom:30px;

    flex-direction: row;
}
#hpwrap {
    display:none;
    right:0%;
    position:fixed;
    bottom:0%;
}

@keyframes redfilter {
    0% {filter: sepia(100%) saturate(300%) hue-rotate(320deg);}
    99% {filter: sepia(0%) saturate(100%) hue-rotate(360deg);}
    100% {filter: none;}
}

@keyframes fuming {
    from {
        filter: sepia(100%) saturate(300%) hue-rotate(0deg);
    }
    to {
        filter: sepia(100%) saturate(300%) hue-rotate(320deg);
    }
}

#gamestartwrap {
    border:4px solid white;
    padding:10px;
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:brown;
    gap:10px;
}
#roundcount {
    font-size:40px;
}
#gamestartwraplvl2 {
    display:flex;
    position:fixed;
    top:50%;
    left:50%;
    z-index: 100;
    transform:translate(-50%, -50%)
}

@keyframes balloon-in {
    0% {transform:scale(0.0001)}
    90% {transform:scale(1.15)}
    100% {transform:scale(1)}
}
@keyframes balloon-out {
    0% {transform:scale(1)}
    10% {transform:scale(1.15)}
    100% {transform:scale(0.0001)}
}